[Unit]    
Description=Running a Flask App

[Service]  
Type=simple
ExecStart=/usr/bin/python3 /home/alarm/corona/app/server.py

[Install]
WantedBy=multi-user.target

