[Unit]    
Description=Running a Flask App

[Service]  
Type=simple
ExecStart=/usr/bin/python3 /opt/corona/app_corona/server.py

[Install]
WantedBy=multi-user.target

